# Java & Maven targets
target/
*.class
*.jar
*.war
*.ear

# IntelliJ & IDE files
.idea/
*.iml
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Node & Frontend dependencies
node_modules/
dist/
.vite/

# Logs & Docker data
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store